.container {
	padding: 200px 0 0 0;
	max-width: 480px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link {
	text-decoration: none;
	color: #4C4CFF;
	padding: 0 0 0 6px;
	transition: all 0.4s ease-in-out;
}
.link:hover {
	color: #FFFFFF;
	opacity: 0.7;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form svg {
	margin: 0 0 0 190px;
}

.form div {
	width: 100%;
}

.error{
color: red;
margin: 0;
padding-top: 30px;
}

.loader{
    margin: 60px auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px dashed white;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {

    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


