.item {
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 272px;
    cursor: pointer;
}
.item:hover{
    opacity: 0.8;
    transition: 0.5s all ease-in-out;
}

.image {
    width: 100%;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    text-align: center;
}